
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 2s linear;

}

html{
    font-size: 80%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(68, 18, 27);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgb(91, 35, 44);
}

header .logo {
    font-size: 2rem;
    color: rgb(255, 233, 205);
    font-weight: bolder ;
}

header .navbar a{
    font-size: 1.5rem;
    padding: 2rem;
    padding: 0 1.5rem;
    color: rgb(238, 204, 165);
}

header .navbar a:hover{
    color: black;
}

header .icons a {
    font-size: 1rem;
    color: bisque;
    margin-left: 1rem;
    
}

header .icons a:hover{
    color: black;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 2rem;
    color: bisque;
    border-radius: .3rem;
    padding: .4rem 1.5rem;
    cursor: pointer;
    
    display: none;
   
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(photo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.contact h3 {
   font-size: 35px;
   color: rgb(68, 18, 27);
   display: flex;
   justify-content: center;
}

.contact span {
    display: flex;
   justify-content: center;
   font-size:20px ;
   color: rgb(104, 44, 44);
}

.contact p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    
}

.contact a {
    background-color: rgb(104, 44, 44);
    color: rgb(241, 224, 203);
    justify-content: center;
    display: flex;
}























